@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&family=Teko:wght@700&display=swap');

:root {
  --color-yellow: #f6a915;
  --color-gray: #242a34;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: #151d27;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

#twitch-embed {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

#twitch-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #twitch-embed {
    padding-top: 90%;
  }

}