.tShirtGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.tShirtCard {
  margin-bottom: 10px;
}

.tShirtImage {
  display: block;
  width: 100%;
  height: auto;
}

.tShirtName {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.tShirtPrice {
  text-align: center;
  margin-top: 5px;
  color: var(--color-yellow);
  font-weight: 900;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .tShirtGrid {
    display: block;
  }

  .tShirtCard {
    margin-bottom: 30px;
  }

  .tShirtName {
    font-size: 16px;
  }

  .tShirtPrice {
    font-size: 26px;
  }
}