.header {
  position: relative;
  z-index: 1;
  padding: 170px 0 120px;
  background-image: url('/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-color: #202020;
  text-align: center;
}

.overlay, .overlayYellow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -2;
}

.overlayYellow {
  background-color: var(--color-yellow);
  opacity: 0.1;
  z-index: -1;
}

.title {
  display: block;
  text-align: center;
  font-size: 52px;
  line-height: 58px;
  font-weight: 900;
  margin-bottom: 15px;
}

.activeLink {
  color: var(--color-yellow);
  font-weight: bold;
}