.table {
  border-collapse: collapse;
  margin-bottom: 30px;
  font-weight: 400;
  width: 100%;
  position: relative;
}

.table thead {
  background-color: var(--color-yellow);
  color: #fff;
  font-weight: 700;
}

.table th,
.table td {
  padding: 10px 15px;
  text-align: left;
}

.tableNominations td, .tableNominations th {
  padding: 8px;
  font-size: 9pt;
}

.table th {
  position: sticky;
  top: 0;
  font-size: 10pt;
}

.table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.04);
}

.table tbody tr.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.yellow {
  color: var(--color-yellow);
}

.red {
  color: #F63415;
}


.genderButton {
  display: inline-block;
  border-radius: 0px;
  border: 0px;
  font-size: 1.4rem;
  width: 50%;
  margin-bottom: 0;
  padding: 12px;
  text-transform: uppercase;
  background-color: var(--color-gray);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-top: 4px solid var(--color-gray);
  border-bottom: 4px solid var(--color-gray);
}

.genderButton.active {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.genderButton:hover {
  border-bottom-color: var(--color-yellow);
}

.ageTabs {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
}

.ageTab {
  padding: 14px 10px;
  border-radius: 0px;
  border: 0px;
  background-color: var(--color-gray);
  color: #fff;
  cursor: pointer;
  transition: 0.1s ease;
  font-size: 0.9rem;
  font-weight: 700;
  border-top: 3px solid var(--color-gray);
  border-bottom: 3px solid var(--color-gray);
}

.ageTab.disabled {
  opacity: 0.4;
  cursor: initial;
}

.ageTab:last-child {
  margin-right: 0px;
}

.ageTab.active,
.ageTab:hover:not(.disabled) {
  border-bottom-color: var(--color-yellow);
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding-right: 14px;
  border: 3px solid var(--color-gray);
  border-top: 0;
}

.searchInput {
  border: 0px;
  background-color: transparent;
  color: #fff;
  font-size: 0.9rem;
  padding: 8px;
  flex: 1;
  padding: 12px 14px;
  color: #fff;
  text-transform: uppercase;
}

.searchInput::placeholder {
  color: #fff;
}

.searchInput:-ms-input-placeholder {
  color: #fff;
}

.searchInput::-ms-input-placeholder {
  color: #fff;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  width: 14px;
  height: 14px;
}

.schedule {
  text-align: left;
}

.timeGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto 30px;
  padding: 24px 30px;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.schedule h2,
.schedule h3,
.schedule h4 {
  color: var(--color-yellow);
}

.schedule h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.schedule h4 {
  margin-bottom: 10px;
  text-align: center;
}

.schedule h2 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: 'Teko', sans-serif;
  color: var(--color-yellow);
  font-size: 1.6rem;
  margin-top: 25px;
}

.attributes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px 12px;
  align-items: center;
}

.attributes div:nth-child(even) {
  color: var(--color-yellow);
  font-weight: bold;
  text-align: left;
}

.attributes div:nth-child(odd) {
  text-align: right;
}

.showCompetitors {
  display: block;
  width: 96%;
  text-align: left;
  padding: 8px;
  text-transform: uppercase;
  background-color: #1e2630;
  border: 0px;
  margin: 10px auto 0;
  color: var(--color-yellow);
  position: relative;
  cursor: pointer;
}

.showCompetitors:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--color-yellow);
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.showCompetitors.active:after {
  border-top: 0px;
  border-bottom: 6px solid var(--color-yellow);
}

.competitors {
  width: 96%;
  margin: 0 auto;
}

.competitor {
  margin-bottom: 2px;
  padding: 6px 8px;
  text-transform: capitalize;
}

.competitor:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.04);
}

.groupCategories {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }

  .genderButton {
    font-size: 1rem;
  }

  .ageTab {
    padding: 8px 4px;
    font-size: 0.8rem;
  }

  .timeGroup {
    display: block;
    width: 100%;
    padding: 18px 12px;
  }

  .timeGroup>div {
    margin-bottom: 20px;
  }

  .attributes {
    grid-template-columns: max-content 1fr;
  }

  .competitors {
    width: 100%;
  }

  .showCompetitors {
    width: 100%;
  }
}