.table {
  border-collapse: collapse;
  margin-bottom: 30px;
  font-weight: 400;
  width: 100%;
  position: relative;
}

.table thead {
  background-color: var(--color-yellow);
  color: #fff;
  font-weight: 700;
}

.table th,
.table td {
  padding: 10px 15px;
  text-align: left;
}

.table th {
  position: sticky;
  top: 0;
}

.table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.04);
}

.table tbody tr.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.yellow {
  color: var(--color-yellow);
}

.red {
  color: #F63415;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }
}